{% extends 'home.html' %}
{% block title %}
    About
{% endblock %}
{%  load static %}
{% block content %}
<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="{% static 'images/abo.jpeg' %}" alt="...">
            </div>
                    
            <div class="about-col-2">
                <h1 class="sub-title" >About me</h1>
                <p>Hello, my name is Xurliman, and my passion is creating and implementing effective advertising 
                    strategies. My experience and formal education have aided me in developing my advertising skill 
                    set and allowed me to work for five large corporations. My creative mindset, advertising knowledge 
                    and ability  to penetrate new consumer markets can help your company develop and achieve new milestones.</p>


                <div class="ent-1">
                    <p>Python</p>
                    <div class="container-">
                        <div class="skills html">70%</div>
                    </div>
                        
                    <p>English</p>
                    <div class="container-">
                        <div class="skills css">60%</div>
                    </div>
                        
                    <p>Graphic Design</p>
                    <div class="container-">
                        <div class="skills js">70%</div>
                    </div>    
                </div>
                    
             </div>


        </div>
    </div>
</div>
{% endblock %}