{% extends 'home.html' %}
{% load static %}
{% block title %}
    Log In 
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="container2">
        {{ form.as_p }}
        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Don't have an account? <a href="{% url 'registration' %}">Sign Up</a></span>
        </div>
    </form>
{% endblock %}
