{% extends 'home.html' %}
{% load static %}

{% block title %}
    Detail Page
{% endblock %}

{% block content %}
    <div class="product-det">
        
        <h2>{{ project.title }}</h2>
        
        <img  src="{{ project.image.url }}" alt="...">
        <p class="des">{{ project.description }}</p>
        <p>
            <button>
                <a href="update">Update</a>
            </button>
        </p>
        <p>
            <button>
                <a href="delete">Delete</a>
            </button>
        </p>
    </div>
    </br>
{% endblock %}