{% extends 'home.html' %}
{% load static %}

{% block title %}
    Project 
{% endblock title %}

{% block content %}
    {% for project in projects %}
        {% if request.user.is_authenticated %}
            <div class="product">
                <h2>{{ project.title}}</h2>
                <a href="{% url 'project_detail' project.pk %}">
                    <img src="{{ project.image.url }}" alt="Project"/>
                </a>
                

                
                
    
        {% endif %}
            
        </div>
    {% endfor %}
{% endblock %}    